* {
  font-family: monospace;
}

header {
  background-color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
button {
  padding: 1.15rem;
  background-color: salmon;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  border-radius: 1.5rem;
}
button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: hotpink;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;

  --count: 0%;
  background-image: linear-gradient(
    to right,
    dodgerblue var(--count),
    transparent 0
  );
}

.counter {
  font-size: 8rem;
  color: black;
  background-color: transparent;
}
